html {
  font-size: 14px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bgstyle {
  background-size: 1200% 1200%;
  -webkit-animation: BackgroundAnimation 70s ease infinite;
  -moz-animation: BackgroundAnimation 70s ease infinite;
  -o-animation: BackgroundAnimation 70s ease infinite;
  animation: BackgroundAnimation 70s ease infinite;
  height: 100%;
}

.bg-gradient {
  background: linear-gradient(rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
}

.navbar-transparent {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.2s;
}
.navbar-white {
  background-color: rgba(234, 236, 239, 0.81);
  transition: background-color 0.2s;
}
.brand {
  color: #363636 !important;
}
.nav-link {
  transition: color, 0.2s;
}
.toggler {
  border: none;
  padding: 4px;
  border-radius: 4px;
  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.header-icons {
  padding: 30px;
  border-radius: 50%;
  .icon {
    width: 50px;
    height: 50px;
    padding: 9px;
    font-size: 27px;
    color: white;
    border-radius: 80%;
    border: 2px solid #FFF;
    margin: 5px;
    transition: all .7s;
    &:hover {
      color: #1a222c;
      background: #FFF;
    }
    &:active {
      color: #1a222c;
      background: #FFF;
    }
  }
}

.title {
  height: 100%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  margin-top: 0px;
}

.typist {
  min-height: 6rem;
  @media (min-width: 360px) {
    min-height: 4rem;
  }
  @media (min-width: 768px) {
    min-height: 2.5rem;
  }
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    box-shadow: 0 2rem 3rem rgba($black, 0.175) !important;
    transform: translateY(-2px);
    transition: transform 0.3s, box-shadow 0.3s;
  }
}

.text-mix {
  mix-blend-mode: difference;
  // animation: linear infinite;
}

.navbar-light .navbar-nav .nav-link {
  mix-blend-mode: multiply;
  color: #666666 !important;
  animation: 0s;
}

.brand {
  mix-blend-mode: multiply;
  color: #4b4b4b !important;
  animation: 0s;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  @media only screen and (min-width: 1050px) {
    flex-wrap: nowrap;
    font-size: 75px;
    flex-direction: row;
  }
}

.tech {
  margin: 5px;
  .icons{
    width: 80px;
    height: 80px;
    padding: 9px;
    font-size: 57px;
    border-radius: 80%;
    border: 2px solid;
    margin: 5px;
  }
}

.aboutme-text {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .pic {
    max-width:60%;
  }
  @media only screen and (min-width: 1050px) {
    flex-wrap: nowrap;
    flex-direction: row;
    .pic {
      max-width:80%;
    }
  }
}

#skills {
  background-color: #FDFDFD;
}